#container{
    background-color:azure;
    text-align: center;
    height: 100%;
    width: 100%;
}
#head{
    background-color: black;
    height: 4em;
}
#heading{
    color: cornsilk;
    text-transform: capitalize;
    font-size: 2em;
}
#head1{
    position: relative;
    float: left;
    width: 75%;
    top:-0.3em;
}
#link{
    list-style-type: none;
    position: relative;
    top: 1.3em;

}
#l1,#l2{
    display: inline;
    color: azure;
    font-size: 1.5em;
}
#l11 ,#l22{
    color: azure;
}
.zootopia{
    text-align: center;
    height: 90%;
    width: 80%;
    padding: 10px 10px 10px 10px;
    border: inset ;
    border-color: cadetblue;
    margin-left: 10px;
    float: left;
}
#preid{
    overflow: hidden;
}
.introduciton,.actor_introduction,.music,.sidelights{
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: solid 1px ;
    border-color: darkkhaki;
    background-color: white;
    margin-bottom: 10px;
}
.sidelights{
    text-align: left;
}
#music{
    position: relative;
    left: 18em;
}
#side{
    text-align: center;
    height:175em;
    width: 15em;
    padding: 10px 10px 10px 10px;
    border: inset;
    border-color: cadetblue;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}
#bottom{
    height: 5%;
    background-color: black;
    clear: both;
    text-align: center;
    padding-top: 2px;
}
#pid{
    color: azure;
    font-size: 20px;
}
