
#container{
    background-color:azure;
    text-align: center;
    height: 100%;
    width: 100%;
}
#head{
    background-color: black;
    height: 4em;
}
#heading{
    color: cornsilk;
    text-transform: capitalize;
    font-size: 2em;
}
#head1{
    position: relative;
    float: left;
    width: 75%;
    top:-0.3em;
}
#link{
    list-style-type: none;
    position: relative;
    top: 1.3em;

}
#l1,#l2{
    display: inline;
    color: azure;
    font-size: 1.5em;
}
#l11 ,#l22{
    color: azure;
    text-decoration: none;
}
.zootopia{
    text-align: center;
    height: 90%;
    width: 75%;
    padding: 0.8% ;
    border: solid 2px cadetblue;
    margin-left: 0.8%;
    float: left;
}
#pp{
    position: relative;
    left: 50%;
    margin-left: -45%;
    width: 90%;
}
#preid{
    text-align: left;
}
#left_1{
    height: 90%;
    width: 100%;
    overflow: hidden;
}
.actor_introduction{
    height: 25%;
}
.actor{
    height:90%;
    overflow: hidden;
}
.buddy,.fox,.cow,.mouse,.Benjamin_Clawhauser,.Dawn_Bellwether,.Leodore_Lionheart,.Flash,.Gazelle,.Yax{
    border: 1px solid darkgrey;
    float: left;
    padding: 10px;
    margin: 10px;
}
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10{
    height: 200px;
    width: 150px;
    padding: 10px;
}
.introduciton,.actor_introduction,.music,.sidelights{
    text-align: center;
    padding: 0.8%;
    border: solid 1px ;
    border-color: darkkhaki;
    background-color: white;
    margin-bottom: 0.8%;
}
.introduciton{
    overflow: hidden;
}
.sidelights{
    text-align: left;
}
#music{
    position: relative;
    left: 50%;
    margin-left: -25%;
}
#side{
    text-align: center;
    height:90%;
    width: 18%;
    padding: 0.8%;
    border: outset;
    border-color: cadetblue;
    margin-right: 0.8%;
    margin-left: 0.8%;
    float: right;
}
#bottom{
    height: 5%;
    background-color: black;
    clear: both;
    text-align: center;
    padding-top: 1%;
}
#p1,#p2,#p3,#p4,#preid{
    word-wrap: break-word;
    word-break: break-all;
}
#pid{
    color: azure;
    font-size: 20px;
}
